EXPO_PUBLIC_USE_LOCAL_API=1
EXPO_PUBLIC_LOCAL_API_URL=http://192.168.76.129:8080
EXPO_PUBLIC_API_URL=https://devbits.ddns.net
EXPO_PUBLIC_LOCAL_API_PORT=8080
POSTGRES_DB=devbits_dev
POSTGRES_USER=devbits_dev
POSTGRES_PASSWORD=devbits_dev_password
